#login-filters{
  display: block;
  position: absolute;
  z-index: 1;
  background: none;
  right: 0;
  top: 0;
  text-align: right;
  margin: 20px 40px;
  font-family: 'Rucksack', 'sans-serif'
}

#filter-btn{
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: inline-block;
}

#filter-header{
  text-align: left;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
  a{
    margin: 0;
    color: white;
    padding: 5px 15px;
  }
  a:hover{
    margin: 0;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
  }
}

#filter-list{
  text-align: left;
  height: 100px;
  overflow-y: scroll;
  background: white;
  display: none;
}

.closed-container{
  display: none;
  border-radius: none;
}

.checkbox input[type="checkbox"]{
  display: none;
}

.selected-filter{
  font-weight: 700 !important;
}
