#login-categories{
  display: flex;
  position: absolute;
  z-index: 1;
  background: none;
  right: 0;
  top: 0;
  text-align: right;
  margin: 20px 40px;
  width: 200px;
  font-family: 'Rucksack', 'sans-serif'
}

#categories-container{
  width: 150px;
  margin: 5px 0 0 0;
  display: inline-block;
}

#categories-header{
  text-align: left;
  display: inline-block;
  background: $dark-blue;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  border-radius: 16px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
  a{
    margin: 0;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
  }
  a:hover{
    margin: 0;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
  }
}

#categories-list{
  text-align: left;
  height: 100px;
  overflow-y: scroll;
  background: white;
  display: none;
}

.closed-container{
  display: none;
  border-radius: none;
}

.checkbox input[type="checkbox"]{
  display: none;
}

.selected-filter{
  font-weight: 700 !important;
}

.caret-left{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
  border-top: 5px solid transparent;
  border-radius: 2px;
}
.caret-down{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 2px;
}
