#login-filters{
  display: block;
  position: absolute;
  z-index: 1;
  background: none;
  right: 0;
  top: 0;
  text-align: right;
  margin: 20px 40px;
  font-family: 'Rucksack', 'sans-serif'
}

#filter-btn{
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: inline-block;
  opacity: 0.7;
}
#filter-btn:hover{
  opacity: 1;
}
