$dark-blue: #2C3E50;
$red: #E74C3C;
$dark-red: #b83c30;
$neon-blue: #3498DB;
$md-blue: #2980B9;
$off-white: #ECF0F1;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'index';
@import 'info-window';
@import 'navbar';
@import 'modal';
@import 'side-panel';
@import 'login-filters';
@import 'account';
@import 'authentication';
@import 'login-modal';
@import 'new-review-modal';
@import 'alerts';
@import 'filter';

#flash-messages{
  margin: 0;
}
