<div id="filter-container">
  <div id="filter-list">
    <%= form_tag(food_carts_path, method: :get, id: 'filter-by-category') do %>
      <% @tags.each do |tag| %>
        <div class="checkbox">
          <label>
          <%= check_box_tag 'query', tag.name, false, {id: "#{tag.name}-filter" } %>
          <%= tag.name %>
          </label>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if params[:query] %>
    <div id="categories-clear">
      <a href="#">Clear Filter</p>
    </div>
  <% end %>
</div>
