<div id="filter-container">
  <div class="filter-header">
    <h2>Categories</h2>
    <span class="glyphicon glyphicon-remove pull-right" id="filter-x"></span>
  </div>
  <div id="filter-checkbox-container">
    <% @tags.each do |tag| %>
      <div class="checkbox checkbox-circle">
        <%= check_box_tag 'query', tag.name, false, { class: "category-checkbox styled" } %>
        <label for="<%= tag.name %>" class="category-checkbox-label"><%= tag.name %></label>
      </div>
    <% end %>
  </div>
  <div class="filter-footer">
    <a href="#" class="btn" id="filter-clear">Clear</a>
  </div>
</div>
