<% if @food_carts.any? %>
  <ul id="cart-list">
    <% @food_carts.each do |cart| %>
      <li><%= link_to cart.name, food_cart_path(cart) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Please add some info to the database.</p>
<% end %>

<%= render 'modal' %>
