debugger
var selectedReview = $("#delete-review-<%= @review_id %>").closest(".individual-review")
if ($('.individual-review').length <= 1){
  selectedReview.html('<div class="individual-review no-review"><p>There are no reviews for this food cart yet!</p></div>');
  $('.average_review').empty();
  $('.review-num').html("No Reviews");
} else {
  selectedReview.remove();
  $('.average_review').html(numToStars("<%= @food_cart.average_review %>"));
  if ($('.individual-review').length != 1){
    $('.review-num').html("<%= "#{@food_cart.reviews.length} reviews" %>");
  } else {
    $('.review-num').html("1 review");
  }
}

function numToStars(num){
  var filledStars;
  if (typeof num !== "number"){
    if (num.scan(/\d/gi).length === num.length){
      filledStars = Number(num)
    } else {
      return ""
    }
  }
  var outlineStars = 5 - filledStars;
  var starArr = [];
  for (var s = 1; s <= 5; s++){
    if (filledStars >= s){
      starArr.push('<span class="star-review-filled"></span>');
    } else {
      starArr.push('<span class="star-review-unfilled"></span>');
    }
  }
  return starArr.join('')
}
