if ($('.individual-review').length === 1){
  $("#delete-review-<%= @review.id %>").closest(".individual-review")
                                       .html('<div class="individual-review no-review"><p>There are no reviews for this food cart yet!</p></div>');
} else {
  $("#delete-review-<%= @review.id %>").closest(".individual-review")
                                       .velocity('slideUp', { duration:600,
                                                              easing: "easeInOutCubic",
                                                              complete: function(element){ return $(element).remove() }
                                                            });
}
